header {
  position: relative;
  height: 60rem;
}

.hero_section {
  margin-left: 4%;
  position: relative;
}

.hero_text {
  width: 50%;
  margin-top: 5rem;
}
.hero_text p {
  font-size: 6rem;
  color: var(--white);
}
.hero_btn {
  margin-top: 8rem;
}
.hero_btn button {
  padding: 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.hero_btn .button_one {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--primary);
}
.hero_btn .button_two {
  padding: 1.5rem 4rem;
  border: none;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  margin-left: 3rem;
}
.hero_images {
  position: absolute;
  right: 0px;
  top: 6rem;
  width: 40%;
  height: 100%;
  z-index: -1;
}

.hero_image {
  width: 100%;
  height: calc(60rem - 12rem);
  object-fit: cover;
  border-bottom-left-radius: 4rem;
  display: none;
}
@media (max-width: 1200px) {
  .hero_text p {
    font-size: 5rem;
  }
}
@media (max-width: 1000px) {
  .header_box_one {
    background: #1eb5b2;
    width: 100%;
  }
  /* .hero_text p {
    font-size: 6rem;
  } */
}
@media (max-width: 800px) {
  .header_box_one {
    background: #1eb5b2;
    width: 100%;
  }
  .hero_text p {
    font-size: 5rem;
  }
}
@media (max-width: 700px) {
  .hero_text p {
    font-size: 4rem;
  }
}

@media (max-width: 575.98px) {
  header {
    height: 53rem;
  }
  .hero_section {
    margin-left: 0rem;
    padding-left: 1rem;
  }
  .hero_text {
    width: 70%;
  }
  .hero_text p {
    font-size: 4rem;
  }
  .hero_images {
    width: 100%;
  }
  .hero_image {
    height: calc(53rem - 6rem);
    border-radius: 0;
  }
  .header_box_one {
    opacity: 0.8;
    border-radius: 0;
  }
  .hero_images {
    z-index: -3;
  }
  nav {
    padding: 2rem 0rem;
  }
}
@media (max-width: 400px) {
  .hero_text {
    width: 80%;
  }
  /* .hero_text p {
    font-size: 3.5rem;
  } */
}

@media (max-width: 300px) {
  header {
    height: 62rem;
  }
}

/* admission_box_one */
.admission {
  position: relative;
  margin: 5rem 0;
}
.admission_box_one {
  /* background-color: var(--pink); */
  border-radius: 20px 0px 0px 20px;
  width: 50rem;
  margin-left: 18%;
  position: relative;
}
.admission_box_one img {
  width: 80%;
  height: auto;
}

.admission_box_two {
  background-color: var(--purple);
  border-radius: 0px 0px 30px 0px;
  position: absolute;
  width: 50rem;
  padding: 3rem;
  opacity: 0.9;
  top: 22%;
  right: 22%;
  color: var(--white);
}
.admission_box_two p {
  text-align: justify;
}
@media (max-width: 1400px) {
  .admission_box_one {
    margin-left: 13%;
  }
  .admission_box_two {
    right: 23%;
  }
}
@media (max-width: 1250px) {
  .admission_box_one {
    margin-left: 14rem;
  }
  .admission_box_two {
    right: 22rem;
  }
}
@media (max-width: 1150px) {
  .admission_box_two {
    right: 12rem;
  }
}
@media (max-width: 1010px) {
  .admission_box_one {
    margin-left: 5rem;
  }
  .admission_box_two {
    top: 48%;
    right: 8rem;
  }
}
@media (max-width: 575.98px) {
  .admission_box_one {
    margin-left: 0rem;
    width: 100%;
  }
  .admission_box_two {
    width: 100%;
    left: 0rem;
    right: 0rem;
    padding: 1.5rem;
  }
}
@media (max-width: 400px) {
  .admission {
    margin: 4rem 0;
  }
}
.benefits {
  position: relative;
  height: 100%;
}
.benefits_header {
  padding-top: 2rem;
  padding-left: 7rem;
  color: var(--white);
  line-height: 1.5;
}
.benefits_box_one {
  position: absolute;
  background: #ffb72c;
  top: 0;
  left: 0;
  width: 50rem;
  height: 100%;
  z-index: -1;
  border-top-right-radius: 20px;
}
.benefits_box_two {
  background: #1eb5b2;
  margin-left: 5%;
  width: 95%;
  padding: 0.5rem;
}
.benefit_items {
  display: flex;
  margin: 3rem 2rem;
  justify-content: space-between;
}

.benefit_item {
  width: calc(95% / 3);
  display: flex;
  color: var(--white);
}
.benefit_item_circle {
  width: 60px;
  height: 60px;
  background-color: #0bd2ce;
  border-radius: 50rem;
  margin-right: 1rem;
}
.benefit_item_right {
  width: 80%;
  text-align: justify;
}
.benefit_item_right h6 {
  text-align: left;
}
@media (max-width: 1050px) {
  .benefit_item_circle {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 800px) {
  .benefit_items {
    margin: 1rem 1rem;
    flex-direction: column;
  }
  .benefit_item {
    width: 100%;
    margin-bottom: 1rem;
  }
  .benefits_box_one {
    width: 90%;
  }
  .benefit_item_right {
    width: 100%;
  }
  .benefit_item_right h6 {
    background-color: #0bd2ce;
    padding: 0 1rem;
    border-radius: 0.5rem;
    display: inline-block;
  }
  .benefit_item_circle {
    display: none;
  }
  .benefits_header {
    padding-left: 3rem;
  }
}

@media (max-width: 575.98px) {
  .benefits {
    position: relative;
  }
  .benefits_box_one {
    width: 100%;
  }
  .benefits_header {
    padding-left: 1rem;
  }
}
/* why */
.why {
  position: relative;
  margin: 5rem 0;
}
.why_info {
  width: 50%;
  margin-bottom: 3rem;
  padding-left: 10rem;
}
.why_info p {
  color: #a9a9a9;
  text-align: justify;
}
.why_metrics {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.why_metric {
  width: 30rem;
  height: 20rem;
  background-color: #ffb72c;
  padding: 5rem;
  text-align: center;
  color: var(--white);
  opacity: 0.9;
}
.why_metric:nth-child(2) {
  background-color: #1eb5b2;
}
.why_metric:nth-child(3) {
  background-color: #4936b5;
}
.why_right {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  width: 50rem;
}
.why_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 900px) {
  .why_info {
    width: 100%;
    padding: 0 2rem;
  }
}
@media (max-width: 575.98px) {
  .why_metrics {
    flex-direction: column;
    align-items: center;
  }
  .why_metric {
    margin-bottom: 1rem;
  }
  .why_right {
    top: 25%;
    left: 0;
    width: 50%;
    height: 74%;
  }
}
/* admission_box_one */
.special {
  position: relative;
  margin: 5rem 0;
}
.special_box_one {
  border-radius: 20px 0px 0px 20px;
  width: 50rem;
  margin-left: 18%;
}
.special_box_one img {
  width: 80%;
  height: auto;
}
.special_box_two {
  background-color: #1eb5b2;
  border-radius: 0px 0px 30px 0px;
  position: absolute;
  width: 50rem;
  padding: 3rem;
  top: 22%;
  right: 22%;
  color: var(--white);
  opacity: 0.9;
}
.special_box_two p {
  text-align: justify;
}
.special_box_two button {
  background-color: #c6b2ff;
  padding: 0.5rem;
  border: thin solid transparent;
  margin-top: 1rem;
}
@media (max-width: 1400px) {
  .special_box_one {
    margin-left: 13%;
  }
  .special_box_two {
    right: 23%;
  }
}
@media (max-width: 1250px) {
  .special_box_one {
    margin-left: 14rem;
  }
  .special_box_two {
    right: 22rem;
  }
}
@media (max-width: 1150px) {
  .special_box_two {
    right: 12rem;
    top: 52%;
  }
}
@media (max-width: 1010px) {
  .special_box_one {
    margin-left: 5rem;
  }
  .special_box_two {
    right: 8rem;
  }
}
@media (max-width: 575.98px) {
  .special_box_one {
    margin-left: 0rem;
    width: 100%;
  }
  .special_box_two {
    width: 100%;
    left: 0rem;
    right: 0rem;
    padding: 1.5rem;
  }
}
@media (max-width: 400px) {
  .special {
    margin-bottom: 0rem;
  }
}
/*  */
.review_info {
  padding: 2rem 0;
  padding-left: 10rem;
  margin-bottom: 1rem;
}
.review_info h1 {
  line-height: 1;
}
.review_boxes {
  position: relative;
}
.review_box_one {
  background-color: #c4c4c4;
  width: 30%;
  height: 37rem;
}
.review_box_two {
  position: absolute;
  background-color: #ffc452;
  width: 70%;
  height: 25rem;
  left: 25%;
  top: 12rem;
  padding: 5rem 20rem 10rem 10rem;
  font-style: italic;
}
@media (max-width: 1000px) {
  .review_box_one {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .review_info {
    padding-left: 1rem;
  }
  .review_box_one {
    width: 80%;
  }
  .review_box_two {
    padding: 5rem 1rem;
    right: 0rem;
  }
}
@media (max-width: 575.98px) {
  .review_box_one {
    width: 100%;
  }
}
/* search */
.search {
  width: 70%;
  background-color: #e1e1e1;
  padding: 10rem 5rem;
  margin: 5rem auto;
  text-align: center;
  border-radius: 1rem;
}
.search_bar input {
  padding: 1rem;
  width: 30rem;
  border: thin solid transparent;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search_bar button {
  padding: 1rem;
  background-color: #1eb5b2;
  border: thin solid transparent;
  color: var(--white);
  margin-left: -3px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* width: 30rem; */
}
@media (max-width: 800px) {
  .search {
    width: 90%;
    padding: 8rem 2.5rem;
  }
}
@media (max-width: 575.98px) {
  .search_bar input {
    width: 70%;
  }
}

/* .social_list svg {
  color: #dcdce0;
  fill: #dcdce0;
  stroke: #dcdce0;
} */
.hero_text_change {
  display: none;
}
.show_image,
.show_text {
  display: block;
}

/* #hero_text_change:before {
  content: '';
  animation: textChange infinite 60s;
  white-space: pre-wrap;
}
@keyframes textChange {
  0% {
    content: 'Special Nursing \A Recruitment: For \A Nigerian Nurses \A To Work in UK Hospitals';
  }
  25% {
    content: 'Admission \A Guaranteed \A To Reputable \a Universities in the UK';
  }
  50% {
    content: 'Work \A While \A You \A Study';
  }
  75% {
    content: '99.9% \A Success in \A Processing Tier4 \A Visas';
  }
  100% {
    content: 'Special \A Admission \A offer within \A 2-3 weeks!';
  }
} */
