.service_container {
  max-width: 114rem;
  margin: 0 auto;
}

.service_layer_one {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
}
.service_layer_one > div:nth-of-type(1) {
  width: 30%;
  /* margin-left: 10%; */
}
.service_layer_one > div:nth-of-type(1) h1 {
  font-size: 4rem;
}
.service_layer_one > div:nth-of-type(2) {
  width: 50%;
  line-height: 2;
  /* margin-left: 20%; */
}
.service_layer_two {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.service_layer_two_left {
  width: 50%;
  /* padding-right: 10rem; */
}
.service_layer_two_left h1 {
  font-size: 4rem;
}
.service_layer_two_left_text {
  padding: 2rem 0;
  line-height: 1.5;
}
.service_layer_two_left_ul {
  line-height: 3;
  padding-left: 2rem;
}
.service_layer_two_right {
  width: 40%;
}
.service_layer_two_right img {
  width: 100%;
  height: 60rem;
  border-radius: 1rem;
  object-fit: cover;
}
.service_layer_three {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.service_layer_three_left {
  width: 40%;
}
.service_layer_three_left img {
  width: 100%;
  height: 60rem;
  border-radius: 1rem;
  object-fit: cover;
}
.service_layer_three_right {
  width: 50%;
}
.service_layer_three_right p {
  margin-bottom: 2rem;
  line-height: 1.5;
}
.service_layer_three_right h1 {
  font-size: 4rem;
}
.service_layer_four {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.service_layer_four_left {
  width: 50%;
}
.service_layer_four_left ul {
  padding-left: 2rem;
  line-height: 3;
}
.service_layer_four_left p {
  margin-bottom: 1rem;
  line-height: 2;
}
.service_layer_four_right {
  width: 40%;
}
.service_layer_four_right img {
  width: 100%;
  height: 60rem;
  border-radius: 1rem;
  object-fit: cover;
}
.service_layer_five_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.service_layer_five_items img {
  width: 25rem;
  /* height: 25rem; */
  object-fit: contain;
}
@media (max-width: 800px) {
  .service_layer_one,
  .service_layer_two,
  .service_layer_three,
  .service_layer_four {
    flex-direction: column;
    align-items: center;
  }
  .service_layer_three {
    flex-direction: column-reverse;
  }
  .service_layer_one > div:nth-of-type(1),
  .service_layer_one > div:nth-of-type(2) {
    width: 80%;
  }
  .service_layer_two_left,
  .service_layer_three_left,
  .service_layer_four_left {
    width: 80%;
  }

  .service_layer_two_right,
  .service_layer_three_right,
  .service_layer_four_right {
    width: 80%;
  }
}
